/* @media (max-width: 767px) {
    .iphone-section {
      padding: 10px;
    }
  }

textocursiva {
  font-style: italic;
}

font-family: "Cabin", sans-serif;




 */
footer {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}