/* @media (max-width: 767px) {
    .iphone-section {
      padding: 10px;
    }
  }

textocursiva {
  font-style: italic;
}

font-family: "Cabin", sans-serif;




 */
footer {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}


.carousel-indicators {
  position: relative;
  list-style: none;
  margin-top: 35px;
}

.carousel-indicators > .custom-indicator {
  display: inline-block;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: black;
}